$color: #66097b;

.admin_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  label {
    display: flex;
    flex-direction: column;
  }
  input {
    background: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 10px;
  }
}
.blog-delete_img{
  position: absolute;
  right: -7%;
  cursor: pointer;
}
.admin_navbar-wrapper {
  display: flex;
  justify-content: center;
  height: 100px;
}
.back-to{
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
}
.edit-card{
  img{
    margin: 0 !important;
    height: fit-content !important;
    min-height: fit-content !important;
  object-fit: contain !important;
  border-radius: 0 0 0 30px;
  }
}
.admin_navbar {
  position: absolute;
  width: 510px;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  ul {
    padding-left: 0;
    display: flex;
    width: 100%;
    grid-gap: 15px;
  }
  li {
    cursor: pointer;
    position: relative;
    z-index: 2;
    list-style: none;
    p {
      color: black;
      position: absolute;
      top: -50px;
      left: 3px;
      text-align: center;
    }
  }
  a {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  .icon::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0;
  }
  a.active {
    .icon {
      transform: translateY(35px);
      background: var(--clr);
    }
  }
  a.active .icon::before {
    opacity: 0.5;
  }
  a:nth-of-type(1).active ~ .indicators {
    transform: translateX((-7px));
  }
  a:nth-of-type(2).active ~ .indicators {
    transform: translateX((calc(84px * 1)));
  }
  a:nth-of-type(3).active ~ .indicators {
    transform: translateX((calc(87px * 2)));
  }
  a:nth-of-type(4).active ~ .indicators {
    transform: translateX((calc(88.5px * 3)));
  }

  a:nth-of-type(2) {
    p {
      top: -80px;
      left: -8px;
    }
  }

  a:nth-of-type(2).active {
    p {
      top: -30px !important;
    }
  }
  a:nth-of-type(3) {
    p {
      left: -8px;
    }
  }

  a:nth-of-type(4) {
    p {
      left: 10px;
    }
  }

  a.active p {
    top: -15px;
  }
}
.indicators {
  position: absolute;
  width: 70px;
  left: 10px;
  border-radius: 50%;
  height: 70px;
  background: #fff;
  bottom: -30px;
  z-index: 1;
  transition: 0.5s;
}
.kyrs-edit_wrapper {
  .direction-title {
    margin-top: 15px;
  }
}
.admin-burger-wrapper {
  display: none;
}
.admin_navbar-wrapper {
  .header {
    display: none;
  }
}
.kyrs-edit-card {
  .container {
    > div:nth-of-type(1) {
      display: flex;
      justify-content: center;
      width: 75%;
      input {
        border-bottom: none;
        border-radius: 20px 20px 0 0;
        margin-bottom: 0;
        margin-top: 40px;
      }
    }

    .edit-card {
      border-radius: 0 30px 30px 30px;
    }
  }
  input {
    margin-top: 0px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
  }
}
.kyrs-edit-card {
  .kyrs-card_main-text {
    padding: 15px 15px;
  }
  textarea {  
    resize: none;
    outline: none;
    width: 100%;
    height: 200px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
  }
}
.kyrs-card-text_title {
  input {
    width: 100%;
    font-size: 20px;
  }
}
.kyrs-card-text_block {
  input {
    margin-bottom: 10px;
  }
}
.video-input {
  display: flex;
  justify-content: center;
  width: 100%;
  div {
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    margin-top: 40px;
  }
}
.edit-video {
  video {
    width: fit-content;
    border-radius: 30px;
  }
}
.kyrs-edit-card {
  .comment {
    position: relative;
  }
}
.delete-comment {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}
.teachers-edit-label {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  span {
    width: 30px !important;
  }
  img {
    cursor: pointer;
    object-fit: contain;
  }
}
.edit-info .container > div:nth-of-type(1) {
  display: flex !important;
  flex-direction: column;
  grid-gap: 25px;
  margin: 10px 30px;
  padding: 0 15px;
  justify-content: space-around;
}
.edit-info_input {
  width: 100% !important;
  border: 1px solid gray !important;
  border-radius: 30px !important;
  margin-bottom: 40px !important;
}
.direction_edit-kyrs{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  h4{
    margin: 15px 0;
  }
}
.activeImage{
  border-radius: 30px;
  border: 1px solid gray;
  span{
    transform: scale(0.4);
    border-radius: 50px;
    img{
      border: none !important;
      object-fit: contain;
    }
  }
}
.students-edit-wrapper{
 margin-top: 50px;

}
.response-students{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .students-work{
    cursor: pointer;
  }
}
.students_wrapper{
 display: flex;
 flex-direction: column;
 align-items: center; 
}
.students-add{
  cursor: pointer;
  img{
    object-fit: contain;
  }
}
.edit-students_wrapper{
  display: flex;
  justify-content: center;
  .edit-students{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.edit-students{
  margin-top: 80px;
  justify-content: space-around;
  width: 85%;
  .btn-wrapper{
      grid-gap: 15px;
    }
  form{
    justify-content: center;
    display: flex;
    grid-gap: 15px;
    flex-direction: column;
    input{
      outline: none;
      padding: 10px 15px;
      border: 1px solid gray;
      border-radius: 30px;

    }
    
  }
}
.quiz-kyrs_card{
  width: fit-content;
  margin: 25px auto;
}
.blog-btn{
  margin-top: 35px;
  div{
    border: 1px solid $color;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    color: $color;
    transition: .3s;
  }
  div:hover{
    background: $color;
    color: white;
  }
}
@media (max-width: 960px) {
  .edit-info_input {
    width: 40% !important;
  }
  .edit-students{
    width: fit-content;
    align-items: center;
  }
  .kyrs-edit-card {
    .container {
      > div:nth-of-type(1) {
        width: 100%;
        align-items: center;
        input {
          width: 80%;
        }
      }
    }
  }
  .kyrs-card_main-block {
    border: none;
  }
  .kyrs-edit-card .container .edit-card {
    border-radius: 0 0 30px 30px;
  }
  .edit-video {
    video {
      width: 100%;
      border-radius: 0 0 30px 30px;
    }
  }
  .video-input {
    justify-content: left;
    div {
      width: 100%;
    }
    input {
      width: 100%;
    }
  }
  .edit-info .container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .kyrs-card-text_block input {
    width: 55%;
  }
  .kyrs-edit-card .container > div:nth-of-type(1) {
    width: 100%;
    justify-content: center;
  }
    .blog-delete_img {
      right: -12%;
    }
}
.kyrs-card-text_des {
  margin-bottom: 15px;
  textarea {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .blog-delete_img {
    right: -10%;
    }
  .kyrs-edit-card .container > div:nth-of-type(1) {
    justify-content: center;
    width: 100%;
  }
  .edit-info_input {
    width: 70% !important;
  }
  .admin_wrapper {
    form {
      width: 60%;
    }
  }
}
@media(max-width:630px){
  .blog-delete_img {
    top: -40px;
    right: 5px;
    }
}
@media (max-width: 512px) {
  .edit-students{
    form{
      align-items: center;
      input{
        width: 80%;
      }
    }
    .btn-wrapper{
      flex-direction: column;
      > button:nth-of-type(1){
        margin-bottom: 0;
      }
      > button:nth-of-type(2){
        margin-top: 0;
      }
    }
  }
  .kyrs-edit-card .container > div:nth-of-type(1) input {
    width: 100%;
  }
  .edit-info_input {
    width: 85% !important;
  }
  .admin_wrapper {
    form {
      width: 75%;
    }
  }
  .admin_navbar-wrapper {
    justify-content: end;
  }
  .admin_navbar {
    display: none;
  }
  .admin_navbar-wrapper {
    .header {
      display: flex;
    }
  }
}
